@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

a {
    text-decoration: none;
}

.main {
    width: 840px;
    position: relative;
    left: 258px;
    margin: 82px;
  }
  
  .profile-img-bottom {
    width: 64px;
    margin-right: 20px;
    /* height: ; */
  }
  
  .main-top-profile {
    display: flex;
    align-items: center;
    padding: 20px 22px;
    border: 1px solid rgb(220, 220, 220);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /* border-bottom: none; */
  }
  
  .articles-user-name {
    font-size: 24px;
    font-weight: 700;
    margin-right: 5px;
  }
  
.article-post-button1 {
    display: flex;
    color: #0090F9;
    padding: 8px 10px;
    background-color: #FFFFFF;
    border: none;
    font-size: 14px;
    padding: 20px 4px;
    margin: 0px 18px 0px 6px;
    font-weight: 500;
    border-bottom: 3px solid #0090F9;
}

.article-scrap-button {
    display: flex;
    color: #6B7280;
    background-color: #FFFFFF;
    border: none;
    padding: 20px 4px;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 3px solid #FFFFFF;
}

.article-buttons {
    padding: 0px 20px;
    display: flex;
    border: 1px solid rgb(210, 210, 210);
    border-top: none;
    border-width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.article-scrap-button:hover {
    color: #0090F9;
    border-bottom: 3px solid #0090F9;
}

  
  .main-bottom {
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 12px;
    padding: 20px 0px;
    border-bottom: 1px solid rgb(180, 180, 180);
  }

  .main-bottom-a {
    display: flex;
    justify-content: space-between;
  }

  .main-bottom-a-left {
    display: flex;
    align-items: center;
  }

  .good-bad-button-info-a {
    font-size: 14px;
    margin-right: 4px;
    color: #6B7280;
  }

  .good-bad-button-info-b {
    font-size: 14px;
    color: #0090F9;
  }

  .good-bad-button {
    background-color: #FFFFFF;
    font-size: 12px;
    border: 1px solid rgb(200, 200, 200);
    color: #0090F9;
    padding: 6px 12px;
    border-radius: 15px;
    margin-right: 8px;
  }

  .good-bad-button:hover {
    border-color: #83878d;
  }
  
.title {
    margin-top: -22px;
}

  .title a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #111827;
  }

  .title a:hover {
    color: #0090F9;
  }
  
  .post-date {
    color: rgb(107, 107, 107);
    font-size: 14px;
  }