.payments-all {
    margin-top: 5.6%;
    height: 142vh;
    justify-content: center;
    /* text-align: center; */
    width: 1020px;
    margin-left: 17%;
}


.payments-title {
    text-align: center;
    padding: 32px 0px;
}


.payments-title span {
    font-size: 24px ;
    padding: 32px 0px;
    font-weight: 600;
}

.payments-bottom {
    display: flex;
    justify-content: space-between;
}

.payments-left {
    border: 1px solid rgb(210, 210, 210); 
    width: 570px;
    height: 171px;
    border-radius: 5px;
    /* margin-right: 15px; */
}

.payments-left-img-and-span {
    display: flex;
    padding: 16px 24px;
    border-bottom: 1px solid rgb(222, 222, 222); 
    background-color: rgb(250, 250, 250);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: center;
}

.payments-left-img-and-span span {
    font-size: 16px;
    font-weight: 500;
}

.payments-left-card-img {
    height: 16px;
    margin-right: 6px;
}

.payments-left-button-and-span {
    display: flex;
    padding: 16px 32px;
    align-items: center;
    border-bottom: 1px solid rgb(222, 222, 222);
}

.payments-left-button {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.payments-left-button-and-span-b {
    display: flex;
    padding: 16px 32px;
    align-items: center;
}

.payments-left-button-and-span-b {
    color: rgb(200, 200, 200);
}

.payments-left-button-and-span-b span {
    font-weight: 400;
}

.payments-left-button-b {
    margin-right: 8px;
}

.payments-left-info {
    position: relative;
    top: 12px;
    font-size: 12.8px;
    color: grey ;
    padding-left: 8px;
}


.payments-right-top {
    width: 420px;
    height: 244px;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 5px;
}

.payments-right-img-and-span {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    background-color: rgb(250, 250, 250);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid rgb(222, 222, 222);
}

.payments-right-shoppingbag-img {
    height: 20px;
    margin-right: 8px;
}

.payments-right-img-and-span span {
    font-size: 16px;
    font-weight: 500;
}

.payments-right-top-ab {
    padding: 16px 24px;
    border-bottom: 1px solid rgb(222, 222, 222);

}

.payments-right-top-a {
    display: flex;
    padding-top: 8px;
    padding-bottom: 13px;
    border-bottom: 1px solid rgb(222, 222, 222);
}

.payments-right-top-a-1 {
    width: 230px;
}

.payments-right-top-a-2 {
    width: 60px;
}

.payments-right-top-a-3 {
    width: 80px;
}

.payments-right-top-a-1 span {
    font-weight: 500;
}

.payments-right-top-a-2 span {
    font-weight: 500;
}

.payments-right-top-a-3 span {
    font-weight: 500;
}

.payments-right-top-b-img {
    width: 45px;
    margin-right: 8px;
    
}

.payments-right-top-b-span {
    font-weight: 600;
}

.payments-right-top-b-img-and-span {
    display: flex;
    align-items: center;
    width: 230px;
}

.payments-right-top-b {
    display: flex;
    align-items: center;
    padding: 12px 0px 0px;
}

.payments-right-top-b-3-bottom span {
    text-align: center;
}


.payments-right-top-b-2 {
    width: 50px;
}

.payments-right-top-b-2 span {
    font-size: 16px;
    font-weight: 600;
}

.payments-right-top-b-3 {
    width: 80px;
}

.payments-right-top-b-3-price {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.payments-right-top-3-discount-a {
    font-size: 14px;
    font-weight: 500;
    color: gray;

}

.payments-right-top-3-discount-b {
    margin-left: 4px;
    font-size: 14px;
    color: red;
    font-weight: 500;
}

.payments-total-price-ab {
    display: flex;
    align-items: center;
    padding: 16px 24px;
}

.payments-total-price-and-num {
    width: 100%;
    text-align: right;
}

.payments-total-price-a {
    font-size: 14px;
    color: gray;
    margin-right: 5px;

}

.payments-total-price-b {
    font-size: 20px;
    font-weight: 600;
}


.payments-right-final-select {
    width: 418px;
    font-size: 14px;
    margin-top: 32px;
    padding: 18px;
    border-radius: 999px;
    background-color: #C4C7CC;
    font-weight: 500;
    color: #ffffff;
}

